<div class="userProfile">
  <div>
    <img src="">
  </div>
<ul>
  {{#each user}}
    {{user.name}}
    {{user.id}}
    {{user.gender}}
    {{user.dateOfBirth}}
    {{user.currentWeight}}
    {{user.bmi}}
    {{user.goalWeight}}
  {{/each}}
</ul>
</div>